@use "global" as *;
.session.home {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: min(6vw, 6rem);
    .profile-info {
        display: flex;
        flex-direction: column;
        h1 {
            font-size: clamp(5.5rem, 10vw, 9rem);
            line-height: .8;
            margin-top: .2rem;
            white-space: nowrap;
            font-weight: 900;
            text-transform: uppercase;
            text-shadow: 8px 5px 1px #000;
        }
        span {
            position: relative;
            font-size: 1.4rem;
            &:first-child {
                left: clamp(-2rem, -2vw, 0rem);
            }
            &:last-child {
                align-items: flex-start;
                font-size: 1.65rem;
                text-align: end;
                right: clamp(-2rem, -2vw, 0rem);
                font-weight: 500;
                strong {
                    text-transform: uppercase;
                    color: $main-color;
                    text-shadow: 5px 3px 1px #000;
                    font-size: 2.5rem;
                    font-weight: 800;
                }
            }
        }
    }
    .profile-img {
        // 900 X 1599
        width: 35rem;
        height: 50rem;
    }
}

@media screen and (max-width: 800px) {
    .session.home {
        flex-direction: column;
    }
}